body {
    margin: 0;
    height: 100vh;
    display: flex;                
    justify-content: center;      
    align-items: center;           
    background-color: #927490;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;                 
    flex-direction: column;        
    align-items: center;
    gap: 20px;                     
    background-color: white;
    padding: 40px;
    border-radius: 10px;
}

h1 {
    display: block;                
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
}
button {
    display: inline-block;  
    padding: 12px 30px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background-color: #0077cc;
    color: rgb(241, 238, 238);
}

button:hover {
    background-color: #12171b;
}
