body { 
    font-family: sans-serif; 
    background: linear-gradient(to bottom right, #0d0d08, #76c0db); 
    display: flex; 
    justify-content: center; 
    padding: 50px; 
}
.container { 
    background: rgb(219, 218, 214); 
    padding: 2rem; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
    width: 350px; 
}

.input-group { 
    display: flex; 
    gap: 5px; 
    margin-bottom: 20px; 
}
input { 
    flex: 1;
    padding: 8px;
 }

.stats { 
    display: flex; 
    justify-content: space-between; 
    font-weight: bold; 
    margin-bottom: 10px; 
    color: #555; 
}

ul { 
    list-style: none; 
    padding: 0; 
}
li { 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 10px; 
    border-bottom: 1px solid #eee; 
}

.completed span { 
    text-decoration: line-through; 
    color: gray;
 }

.actions button {
     margin-left: 5px; 
     cursor: pointer; 
    }
.clear-btn { 
    width: 100%; 
    margin-top: 20px; 
    background: #1c5053; 
    color: rgb(246, 248, 247);
    border: none; 
    padding: 10px; 
    cursor: pointer; 
}